.footer {
  background-color: inherit;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0 10px;
}
