.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/_POG78132.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.image-text a {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 2s forwards;
  text-decoration: none;
  transition: "font-size 1s ease";
  /* background-color: rgba(0, 0, 0, 0.9); */
}
/* &:hover .image-text a {
  color: red;
} */
/* &:hover .image-text a {
  opacity: 0.9;
  text-decoration: none;
  font-size: 40px;
  transition: "font-size 1s ease";
  background-color: rgba(0, 0, 0, 0.4);

  color: white;
} */
.image-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 2s forwards;
}
.image-text h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .image-text h1 {
    font-size: 35px;
  }
  .image-text h2 {
    font-size: 15px;
  }
  .image-text a {
    font-size: 15px;
  }
}

/* Style for screens with a minimum width of 601px and a maximum width of 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .image-text h1 {
    font-size: 45px;
  }
  .image-text h2 {
    font-size: 20px;
  }
  .image-text a {
    font-size: 20px;
  }
}

/* Style for screens with a minimum width of 1025px */
@media (min-width: 1025px) {
  .image-text h1 {
    font-size: 50px;
  }
  .image-text h2 {
    font-size: 25px;
  }
  .image-text a {
    font-size: 25px;
  }
}
